.heroWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  position: absolute;
  z-index: 10;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 200;
  color: #fafafa;
}

.title {
  font-size: 7.5em;
}

.subtitle {
  font-size: 1.5em;
}

.animationWrapper {
  width: 50%;
  padding-bottom: 50%;
}

.blockAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

@media screen and (max-width: 996px) {
  .title {
    font-size: 15vw;
  }

  .subtitle {
    font-size: 5vw;
  }

  .animationWrapper {
    width: 100%;
  }
}
