.heroWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  position: absolute;
  z-index: 10;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 200;
  color: #fafafa;
}

.title {
  font-size: 7.5vw;
}

.subtitle {
  font-size: 1.5vw;
}

.animationWrapper {
  width: 50%;
  padding-bottom: 50%;
}

.blockAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.block polygon {
  fill: url(#blockGradient);
  stroke-width: 1px;
  stroke: rgba(80,80,80,.35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .block polygon {
    stroke-width: .4px;
  }
}
